<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


  <session-factory>


    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://postgresql.websupport.sk:5432/DB_FIIT</property>
    <property name="connection.username">DB_FIIT</property>
    <property name="connection.password">Welcome1</property>



    <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

    <mapping class="entities.Case" />
    <mapping class="entities.User" />
    <mapping class="entities.Team" />
    <mapping class="entities.Criminal" />
    <mapping class="entities.CriminalGroup" />
    <mapping class="entities.Status" />




    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>